<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeYouMentor - social learning</title>
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/font-awesome.css")
    @Styles.Render("~/Content/css/footer.css")
    @Styles.Render("~/Content/css/header.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

</head>
<body>
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <!-- vores logo i øvre venstre hjørne -->
                <a id="logo" href="/" class="col-md-2 nav-bar-item "></a>
                <div class="col-md-2 pull-right nav-bar-item  div-btn">
                    <button class="btn btn-special pull-right">Become A Mentor</button>
                </div>
                @Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "col-md-1 nav-bar-item pull-right", id = "signUpLink" })
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "col-md-1 nav-bar-item pull-right", id = "loginLink" })
                <div class="nav-bar-item pull-right">
                    <i class="col-md-1 fa fa-search"></i>
                    <input class="no-border" placeholder="Search Mentors" type="text">
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">Blog</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Contact</a>
            </p>
            <p>WeYouMentor &copy; 2015</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>